@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Rubik:wght@500;700&family=Permanent+Marker&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

.scroll-lock {
  overflow: hidden;
}

.main-bg {
  background-color: rgb(197 211 245);
  /* darker blue */
  /* background-color: rgb(54 92 219); */
  /* background: rgb(32 102 237); */
}

.article-bg {
  background-color: rgb(233 240 255);
  /* dark mode */
  /* background: rgb(20, 20, 20); */
}
