@import url("https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,400;6..72,600&family=Piazzolla:ital,opsz,wght@0,8..30,400;0,8..30,600;1,8..30,400&family=Rubik:wght@500;700&family=Permanent+Marker&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

.scroll-lock {
  overflow: hidden;
}

.main-bg {
  background-color: rgb(25 97 242);
  /* dark blues */
  /* background-color: rgb(54 92 219); */
  /* background: rgb(32 102 237); */
}

.article-bg {
  background-color: rgb(233 240 255);
  /* dark mode */
  /* background: rgb(20, 20, 20); */
}
