body {
  scroll-behavior: smooth;
}

ol {
  counter-reset: list-item;
}

li {
  display: block;
  counter-increment: list-item;
}

li + li {
  margin-top: 0.5rem;
}

li:before {
  content: counters(list-item, ".") " ";
  margin-right: 0.75rem;
}

.table-of-contents {
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
  background: #f4f9ff;
  border-radius: 6px;
  @apply p-8 my-8;
}

.table-of-contents h2 {
  font-size: 1.51572rem;
  margin-bottom: 1rem;
}

time {
  background: rgb(96, 124, 255);
}

.blog-html figcaption {
  color: rgba(0, 0, 0, 0.7);
  font-family: Rubik, sans-serif;
  padding-top: 6px;
  text-align: center;
}

.blog-html {
  color: hsla(0, 0%, 0%, 0.9);
}

.blog-html a {
  color: #0d0dff;
  font-weight: 600;
}

.blog-html hr {
  border-color: hsla(0, 0%, 0%, 0.2);
  border-top-width: 1px;
  margin-top: 3em;
  margin-bottom: 3em;
}

.blog-html p {
  margin: 1.0125rem 0;
  line-height: 1.625;
}

.blog-html > h1 {
  margin-top: 2.225rem;
  margin-bottom: 0.975rem;
  font-size: 2.63902rem;
  line-height: 3.25rem;
  letter-spacing: -1px;
}

.blog-html > h2 {
  margin-top: 2.225rem;
  margin-bottom: 0.975rem;
  font-size: 1.51572rem;
  line-height: 1.1;
}

.blog-html > h3 {
  margin-top: 1.825rem;
  margin-bottom: 0.975rem;
  font-size: 1.31951rem;
  line-height: 1.1;
}

.blog-html > h4 {
  margin-top: 1.625rem;
  margin-bottom: 0.975rem;
  font-size: 1rem;
  line-height: 1.1;
}

.blog-html > h5 {
  margin-top: 1.625rem;
  margin-bottom: 0.975rem;
  font-size: 0.87055rem;
  line-height: 1.1;
}

.blog-html > h6 {
  margin-top: 1.625rem;
  margin-bottom: 0.975rem;
  font-size: 0.81225rem;
  line-height: 1.1;
  font-style: italic;
}
