@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-size: 16px;
}

body {
  margin: 0px;
  min-height: 100%;
  padding: 0px;
  position: absolute;
  width: 100%;
}

.wrapper {
  background: rgb(241, 243, 255);
}

nav {
  align-items: center;
  display: flex;
  padding: 32px 0px;
  position: relative;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}

main {
  background: rgb(255, 255, 255);
  margin: 2rem auto;
  max-width: 700px;
}

footer {
  background: linear-gradient(rgb(95, 160, 255) -59%, rgb(88, 155, 255));
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.gh-link {
  margin-right: 2rem;
}
